

* {  

 box-sizing: border-box;  

}  

 
 

.column {  

float: left;  

width: 33.33%;  

padding: 5px;  

background-color: tan
;

}  

 
 

   /* Clearfix (clear floats) */  

.row::after {  

content: "";  

clear: both;  

display: table;  

}  

 

 
 

h2{  

text-align: center;  

background-color:tan;  

}  
body{
   background-color: #143411be;
}

p{
   background-color: pink;
}
 

  